@font-face {
  font-family: 'icomoon';
  src:url('./icomoon.eot');
  src:url('./icomoon.eot?#iefix') format('embedded-opentype'),
  url('./icomoon.woff') format('woff'),
  url('./icomoon.ttf') format('truetype'),
  url('./icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-child_care:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-favorite:before {
  content: "\e905";
}
.icon-handyman:before {
  content: "\e906";
}

