@font-face {
    font-family: 'Poppins';
    src: 
    url('./../font/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'Poppins', sans-serif !important;
  }