
i {
  display: inline-block;
  vertical-align: middle;
}

.skl-ds-icon--small {
  font-size: var(--icon-small)
}

.skl-ds-icon--medium {
  font-size: var(--icon-medium)
}

.skl-ds-icon--large {
  font-size: var(--icon-large)
}

.skl-ds-icon--xlarge {
  font-size: var(--icon-xlarge)
}